body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;

    font-size: 14px;
    line-height: 22px;
    font-family: "Open Sans" sans-serif;
    color: #29323c;
    text-align: center;
}

.underline {
    width: 40px;
    height: 0px;
    border-bottom: solid 2px #525961;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: 800;
    text-transform: uppercase;
}

.header {
    /*background-color: #404b51;*/
    color: #e8e8e8;
}

.header-menu {
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: right;
}
.header-main h2 {
    font-size: 36px;
    letter-spacing: -2px;
    color: #e8e8e8;
    font-weight: bold;
    font-family: "Montserrat";
}

.header-main p {
    font-size: 17px;
}
.services-content li {
    list-style: none;
}

.services-item h4 {
    font-size: 16px;
    letter-spacing: 0px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
}

.works-content table {
    padding: 0px;
border-collapse: collapse;
border: solid 2px black;
}

.works-content td {
    border: solid 2px black;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.wrk-1 {
    background-image: url(../img/1.png);
}

.wrk-2 {
    background-image: url(../img/2.png);
}

.wrk-3 {
    background-image: url(../img/3.png);
}

.wrk-4 {
    background-image: url(../img/4.png);
}

.wrk-5 {
    background-image: url(../img/5.png);
}

.wrk-6 {
    background-image: url(../img/6.png);
}

.wrk-7 {
    background-image: url(../img/7.png);
}

.wrk-8 {
    background-image: url(../img/8.png);
}

.wrk-9 {
    background-image: url(../img/9.png);
}

.wrk-10 {
    background-image: url(../img/10.png);
}

.wrk-11 {
    background-image: url(../img/11.png);
}

.wrk-12 {
    background-image: url(../img/12.png);
}

.wrk-13 {
    background-image: url(../img/13.png);
}

.wrk-14 {
    background-image: url(../img/14.png);
}

.wrk-15 {
    background-image: url(../img/15.png);
}